<%= form_for(gp) do |f| %>
  <% if gp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(gp.errors.count, "error") %> prohibited this gp from being saved:</h2>

      <ul>
      <% gp.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :latitude %>
    <%= f.text_field :latitude %>
  </div>

  <div class="field">
    <%= f.label :longitude %>
    <%= f.text_field :longitude %>
  </div>

  <div class="field">
    <%= f.label :sent_at %>
    <%= f.datetime_select :sent_at %>
  </div>

  <div class="field">
    <%= f.label :vehicle_identifier %>
    <%= f.text_field :vehicle_identifier %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
